@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');


.popup{
    position: absolute;

    width: 100vw;
    height: 100vh;

    z-index: 9000;

    background-color: rgba(0, 0, 0, 0.603);
}


.form{
    position: relative;

    width: 41%;
    height: 90%;


    border: solid white 1px;
    border-radius: 20px;

    left:0;
    transform: translateX(60%);

    margin-top: 20px;

    padding-right: 50px;


    
    background-image: url('https://c.wallhere.com/photos/f6/3c/1920x1080_px_abstract_Dark_pattern_vector-839366.jpg!d');
}


.h1{
    color:white;
    font-size: 34px;
    text-align: center;
    font-family: 'Space Mono';

    
}

.labels{
    color:white;
    font-size: 15px;
    font-family: 'Space Mono';
}

.inputsAndLabels{

    margin-left: 40px;
}

.input{

    padding: 5px;
    margin: -5px;
}

.img{
    position: absolute;

    width: 320px;
    height: 320px;


    margin-left: 250px;
    margin-top: -430px;

    border: solid white 1px;
    border-radius: 20px;
}

.button{
    position: absolute;

    margin-top: -30px;
    margin-left: 40px;

    left:0;
    transform: translateX(250%);

    
    width: 150px;

    /* margin: 5px; */
    /* margin-top: 25px; */

    color:rgb(7, 156, 236);
    background-color: black;

    border: solid yellow 1px;
    border-radius: 5px;
    text-align: center;
}

.none{
    display: none;
}

.close{
    position: absolute;

    top: 0;
    right: 0;
    transform: translateX(0%);

   

    width: 40px;
    height: 40px;

    color:rgb(255, 255, 255);
    background-color: black;

    border: solid yellow 1px;
    border-radius: 5px;
    text-align: center;
    font-size: 25px;

    padding: 10px;
    padding-bottom: 25px;
    padding-top: -200px;
}

.x{
    position: absolute;
    /* margin-bottom: 10px; */
    top: 0;
    left: 0;
    transform: translateX(10px);
}

.warning{
    position: absolute;
    font-size: 10px;

    color: rgb(189, 186, 186);

    margin-top: 3px;
    margin-left: -15px;
}